section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: brightness(80%);
        -webkit-filter: brightness(80%);
        -moz-filter: brightness(80%);
        -o-filter: brightness(80%);
        -ms-filter: brightness(80%); */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

section h2{
    font-size: 5vw;
    color:black;
    background-color: aliceblue;
    padding: 2vh 4vh;
    mix-blend-mode: screen;
}

.quotes {
    color: white;
    size: 3 rem;
}